*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f1f1f1;
}

.orphic-navbar
{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.orphic-navbar > .orphic-navbar-rsection
{
    position: absolute;
    z-index: 9;
}

.orphic-navbar > .orphic-navbar-section
{
    width: 100%;
    height: 60px;;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #f1f1f1;;
    border-radius: 0 60px 60px 0;
    margin-left: 12px;
}

.orphic-navbar > .orphic-navbar-section > ul
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-left: 120px;
}

.orphic-navbar > .orphic-navbar-section > ul > li
{
    margin-right: 12px;
    margin-left: 12px;
}

.orphic-navbar > .orphic-navbar-section > ul > li.orphic-nav-item
{
    width: fit-content;
    height: 35px;
    border-radius: 35px;
    padding: 0 25px;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.orphic-navbar > .orphic-navbar-section > ul > li.orphic-nav-item.custom-cute
{
    display: none;
    font-weight: 600;
    font-size: 17px;
    width: 100px;
    overflow: hidden;
}

@media only screen and (max-width: 820px)
{
    .orphic-navbar > .orphic-navbar-section > ul > li.orphic-nav-item.custom-cute
    {
        display: block;
    }
    .orphic-navbar > .orphic-navbar-section > ul > li.orphic-nav-item
    {
        display: none;
    }
}

.orphic-navbar > .orphic-navbar-section > ul > li.orphic-nav-item.custom-cute > button
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    border: none;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
}

.orphic-navbar > .orphic-navbar-section > ul > li.orphic-nav-item:hover
{
    opacity: 0.7;
}

.orphic-navbar > .orphic-navbar-section > ul > li.orphic-nav-item.active
{
    /* background: rgba(0, 0, 0, 0.1); */
    box-shadow: inset 0 0 0 2px rgba(0, 183, 255, 0.1);
    color: rgba(0, 183, 255, 1);
    font-weight: 600;
}

.orphic-navbar > .orphic-navbar-section > ul > li.orphic-nav-item > a
{
    color: inherit;
    text-decoration: none;
}


.orphic-navbar > .orphic-navbar-section > ul > li:last-child
{
    /* margin-right: 6%; */
}

/* logo */

.o-logo-wrapper
{
    width: 100px;
    height: 100px;
    overflow: hidden;
    animation: oRot 0.9s 1 alternate ease;
}
@keyframes oRot {
    0%
    {
        transform: rotate(0) rotateY(0) scale(1);
    }
    100%
    {
        transform: rotate(360deg) scale(0.9);
    }
}
@keyframes oScale {
    0%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(1.5);
    }
}
.bd-rd
{
    border-radius: 200px;
}
.pd-20
{
    padding: 10px;
}
@keyframes oRot2 {
    0%
    {
        transform: rotate(0);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.o-logo-subwrapper
{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 2px rgba(0, 183, 255, 0.1);
    border-radius: 200px;
    animation: oRot 200s infinite alternate ease;
}
.o-logo-subbwrapper
{
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 6px rgba(0, 255, 136, 0.05);
    border-radius: 200px;
}
.custom-co1
{
    transform: scale(0.9);
    background-color: rgba(0, 183, 255, 0.1);
    overflow: hidden;
    background-image: url(../images/orph.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: oScale 1s 2 alternate ease;
}

.custom-aligner
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f1f1f1;
}

.logo-text
{
    font-size: 100px;
    font-weight: 600;
    /* font-family: 'Century Gothic'; */
    font-family: 'From the stars';
    margin-left: 20px;
    color: #f1f1f1;
}